body{
	background-image: url("background.jpg");
	background-size: 100% 100%;
	min-width:640px;
	color:white;
	display:block;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	font-family:Helvetica;
}

#sbox{
	padding:8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
	color:white;
}
